<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="display: block;">
                <nz-card style="width:200px;" [nzSize]='large' style=" background-color: #ECECEC;">
                    <nz-progress [nzPercent]="60" nzType="circle" [nzWidth]="80"
                        style="align-self: center;margin-left: 4ch;"></nz-progress>
                    <div style="text-align: center;"><b>CCBB Mining</b></div>
                    <div style="text-align: center;"><b>Overall Completion</b></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div><small>Hashee Mined</small></div>
                            <b>985K</b>
                        </div>
                        <div class="col-md-6">
                            <div><small>CCRB Mined</small></div>
                            <b>$2.46</b>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</div>