$font-stack: Helvetica, sans-serif;
$primary-color: #689fcb;
$primary-button-color: #295c8d;
$margin-right-40: 40px;
$white: #fff;
$dark: #585858;
$color-gray-light: #f8f8f8;
$color-gray: #bdbdbd;
$color-gray-1: #707070;
$color-gray-2: #f9f9f9;
$button-radius: 10px;
$button-admin-radius: 5px;
$margnlft-15: 15px;
$margnrgt-15: 15px;
$margnbtm-15: 15px;
$margnbtm-10: 10px;
$padding-40: 40px;
$padding-25: 25px;
$margntp-25: 25px;
$margnbt-25: 25px;
$button-padng: 10px 20px;
$button-admin-padng: 5px 20px;
$blue-fr: #cfe9fe;
$submenu-bg: #487dac;
$font-form: 14px;
$border-dark: #dfe8ef;
$color-secondary-light: #b7d0ef;
$color-gray-light: #e0e0e0;
$color-gray-dark: #212121;
$color-gray-dark-1: #707070;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff3800;
$color-red-close: #ff3800;
$light-gray: #f2f2f2;
$admin-heading-font: 25px;
$btn-success: #c3e6cb;
$btn-pending: #f8d7da;
$btn-going: #f8d7da;
$btn-success-color: #155724;
$btn-pending-color: #721c24;
$btn-going-color: #856404;
//border
$border-grey: 1px solid #bdbdbd;
$border-white: 2px solid #fff !important;
